@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Outfit", system-ui;
}
select,input,textarea{
  border: 1px solid #c2c2c2;
  outline: #C586A5;
  border-radius: 4px;
}

.active{
  background-color: #80f1a2;
  border-color: #C586A5;
}